@model IEnumerable<ADO.NET.Models.StudentModel>

@{
    ViewData["Title"] = "Display Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Display Student</h1>

<p>
    <a asp-action="CreateStudent">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Field)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Semester)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marks)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Field)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marks)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditStudent", new {  id=item.Id  }) |
                @Html.ActionLink("Delete", "DeleteStudent", new {  id=item.Id  })
            </td>
        </tr>
}
    </tbody>
</table>